In [2]:
import pandas as pd

df=pd.DataFrame()
df=pd.read_csv('puzzle_input.csv',header=None)
df

                                                     0
0    ................458...689.556..3............19...
1    ...910.743..........................13...........
2    ....*......406.507.97..846..............968+.....
3    ....555...............*......%...............9...
4    .............807......176.....820...=............
..                                                 ...
135  ....................+............................
136  .780.......864.......435......811....760.........
137  ....*.........../............*..............66...
138  ..139..........45......#...316....=..............
139  .....................815.........786.............

[140 rows x 1 columns]

In [17]:
df[0][0]

'................458...689.556..3............197......582........720.........................515..352..286.........670.741.....895.626.......'

In [37]:
rows=df[0]
for row in range(140):
    for character in range(len(rows[row])):
        if rows[row][character]=='.':
            pass
        else:
            try:
                if int(rows[row][character])=='int':
                    print (rows[row][character-1])
            except:
                pass

In [33]:
df[0][0][0]

'.'